h2 Ingrese su nombre
form(class="form" action="/productos/login" method="post" role="form" autocomplete="off")
    div(class="form-group")
        input(id="username" name='username' placeholder="nombre" class="form-control" type="text" required)
    div(class="form-group")
        input(class="btn btn-success my-3" type="submit" value="Login")
